# Copie este arquivo para .env e preencha os valores
# cp .env.example .env

SECRET_KEY=gere_uma_chave_com_python_-c_import_secrets_print_secrets.token_urlsafe_50
DEBUG=False
ALLOWED_HOSTS=seu_dominio.com.br,www.seu_dominio.com.br,SEU_IP

# Banco de dados
DB_ENGINE=sqlite
SQLITE_PATH=/caminho/para/db.sqlite3

# Para usar PostgreSQL:
# DB_ENGINE=postgres
# POSTGRES_DB=pktour
# POSTGRES_USER=usuario
# POSTGRES_PASSWORD=senha
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
