<!DOCTYPE html>
<html>
<title>PKTOUR - Players</title>
{% extends 'base.html' %}
{% load bootstrap %}
<head>
	
</head>
<body>
	{% block menu%}
	<ul class="nav nav-pills">
	  <li class="nav-item">
	    <a class="nav-link active" href="{% url 'pkapp_index' %}">Home</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opçoes</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="{% url 'pkapp_players' %}">Players</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="{% url 'pkapp_torneios' %}">Torneios</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="{% url 'pkapp_etapas' %}">Etapas</a>
	    </div>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consultas</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="{% url 'pkapp_ranking' %}">Ranking</a>
	   </li>
<!--	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#">Disabled</a>
	  </li>-->
	</ul>
{% endblock %}
{%block main%}

<!--	<h1>teste de template</h1>
	{{teste}}
-->
{% endblock %}

</body>
</html>